:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/* Variables */

  --primary-color: #233544;
  --secondary-color: #FF9D05;
  --tertiary-color: #1BC2BE;
  --transition: 0.4s;
}

/* Universal Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  color: var(--tertiary-color);
}

ul {
  list-style-type: none;
}

h1 {
  color: var(--secondary-color);
}

/* Navigation */

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--primary-color);
  box-shadow: 0 3px 3px rgba(255, 255, 255, 0.2);
}

nav a {
  color: var(--secondary-color);
  transition: var(--transition);
}

nav a:hover {
  color: var(--tertiary-color);
  border-bottom: 2px solid var(--tertiary-color);
}

nav h1 {
  color: var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 5rem;
}

.menu-button {
  color: var(--secondary-color);
  font-size: 2rem;
  cursor: pointer;
  border: 0;
  display: none;
}

.menu-button:hover {
  color: var(--tertiary-color);
  transition: var(--transition);
}

